body {
  background-color: #faf8f0;

  header {
    /*background-color: #c1e4c1;*/
    background-color: #c1e4f0;
  }
  main {
    background-color: #faf8f0;
  }
  footer {
    background-color: #e4ded2;
  }
}
