$bg-color-black: black;
$color-fuente-white: white;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
$font-sizes: (
  "small": 0.5rem,
  "regular": 1rem,
  "medium": 1.5rem,
  "large": 2rem,
  "x-large": 2.5rem,
);
