@import "../variables";
@import "../mixin";
.pedido {
  padding: 0.5rem 0;
  border-top: 1px solid;
}
.pedido p {
  margin-top: 0;
  margin-bottom: 0rem;
  font-size: map-get($font-sizes, regular);
}
.pedido__img {
  width: 100%;
}
.btn__comprar {
  &:hover {
    @extend .btn;
    background-color: $color-black;
  }
}
.btn__sacarOsumar {
  padding: 0rem;
  width: 1rem;
  &:hover {
    @extend .btn;
    background-color: $color-black;
    font-weight: map-get($font-weights, bold);
  }
  &:focus {
    box-shadow: none;
  }
}
.carrito-modif {
  @include flexBetween(row);
}
@media screen and (min-width: 1024px) {
  .texto-lg-carrito p {
    font-size: map-get($font-sizes, medium);
  }
  form {
    font-size: map-get($font-sizes, medium);
  }
}
