.cobertura__mapa {
  width: 100%;
  margin: auto;
  height: 15rem;
  padding: 0.5rem;
}
.comoComprar__video {
  width: 100%;
  margin: auto;
  height: 12rem;
  padding: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .cobertura__mapa {
    height: 20rem;
  }
  .comoComprar__video {
    width: 100%;
    margin: auto;
    height: 25rem;
    padding: 0.5rem;
  }
}
