.slider-frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;

  ul {
    display: flex;
    animation: slide 20s infinite alternate linear;
    width: 400%;
    padding: 0;
  }

  li {
    list-style: none;
    width: 100%;
    overflow: hidden;
  }
  img {
    width: 100%;
    height: 100%;
  }
  @keyframes slide {
    0% {
      margin-left: 0%;
    }
    20% {
      margin-left: 0%;
    }

    25% {
      margin-left: -100%;
    }
    45% {
      margin-left: -100%;
    }

    50% {
      margin-left: -200%;
    }
    70% {
      margin-left: -200%;
    }

    75% {
      margin-left: -300%;
    }
    100% {
      margin-left: -300%;
    }
  }
}
.tituloSeccion p {
  font-size: 3rem;
  letter-spacing: 0.5rem;
}
@media screen and (min-width: 768px) {
  .tituloSeccion p {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .tituloSeccion p {
    font-size: 5.5rem;
  }
}
